body {
  color: #878787;
  margin: 0;
  /* 1em equivalent to 16px 
  * 2em equivalent to 32px
  */
  /* font-size: 1em; 
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
  line-height: 1.5; */
  font: 1em/1.5 "Helvetica Neue", Helvetica,Arial,sans-serif;
}

h1 {  
  font-size: 5.625rem; /* 90px/16px = 5.625em */
  color: rgb(255, 255, 255, 1);
  text-transform: capitalize;
  font-weight: normal;
  line-height: 1.3;
}

h2 {
  font-size: 53px;
  text-decoration: underline;
  font-weight: normal;
  margin-bottom: .5em; /* 26px */
}

h3 {
  font-size: 20px;
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

/* li {
  display: inline-block;
  padding: 0 12px;
  border-right: solid 1px;
} */

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px #ffa949;
}

.main-header {
  background-color: #ffa949;
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px = 1.625 */
}

.primary-content, 
.secondary-content {
  width: 60%;
  margin: auto;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.primary-content, 
.main-header {
  text-align: center;
}

.t-border {
  border-top: 2px solid lightgrey;
}

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgb(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

:focus {
  color: white;
  background-color: orange;
}

.wildlife {
  color: white;
  background-color: #434a52;
  /* padding-top: 100px;
  padding-right: 120px;
  padding-bottom: 100px;
  padding-left: 120px; */

  /* padding: 100px 120px 100px 120px */
  padding: 18% 24%;

  /* border-width: 10px;
  border-style: solid;
  border-color: #ffa949; */

  border-top: 10px solid #ffa949;

  /* margin-top: 105px;
  margin-right: 0;
  margin-bottom: 60px;
  margin-left: 0; */

  margin: 105px 0 60px;
}











